---
layout: base.njk
portrait_left: zeno.jpg
portrait_left_alt: Zeno of Citium
portrait_right: seneca.jpg
portrait_right_alt: Seneca
---
<article class="single-post meditation">
  <h1 class="meditation-title">{{ title }}</h1>
  <p class="post-date">{{ date | readableDate }}</p>
  {{ content | safe }}
  <p><a href="/meditations/">&larr; Back to Meditations</a></p>
</article>
