---
layout: base.njk
portrait_left: marcus-aurelius.jpg
portrait_left_alt: Marcus Aurelius
portrait_right: epictetus.jpg
portrait_right_alt: Epictetus
---
<article class="single-post observation-single">
  <p class="post-date">{{ date | readableDate }}</p>
  {{ content | safe }}
  <p><a href="/">&larr; Back to Observations</a></p>
</article>
